{# src/Acatism/AuthenticationBundle/Resources/views/Security/register.html.twig #}

{% extends 'AcatismMainBundle:Show:MainView.html.twig' %}

{% block title %}

    Profile Info Wizard

{% endblock %}

{% block stylesheets %}

    <link href="{{ asset('css/maincss.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/forms.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% form_theme form _self %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <div class="errorSection">
                    <div class="icon">
                        <img src="{{ asset('images/form_error.png') }}" alt="Error" />
                    </div>
                    <div class="message">
                        {{ error.message }}
                    </div>

                    <div class="clear"></div>

                </div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

    {% block pageContent %}

        <div id="wizardSection">

            <div class="wizardHeader">

                <h1>Choose your files - Third Step</h1>

            </div>

            <div class="wizardMain">

                {% if (viewtype == 'ROLE_PROFESSOR') %}

                    {{  form_errors(form) }}
                    {{  form_errors(form.profileFile) }}
                    {{  form_errors(form.cvFile) }}

                    {{ form_start(form) }}

                    <div class="file">

                        <div class="label">
                            Upload your profile picture:
                        </div>

                        <div class="choose">
                            {{ form_widget(form.profileFile, { 'attr': { 'class': 'fileInput' } }) }}
                        </div>

                        <div class="clear"></div>

                    </div>


                    <div class="file">
                        <div class="label">
                            Upload your CV file:
                        </div>
                        <div class="choose">
                            {{ form_widget(form.cvFile, { 'attr': { 'class': 'fileInput' } }) }}
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="clear"></div>

                    <div class="actionGroup">

                        <div class="inputClassButton">
                            {{ form_widget(form.finish) }}
                        </div>


                        <div class="clear"></div>


                    </div>

                    {{ form_end(form) }}

                {% elseif (viewtype == 'ROLE_STUDENT') %}

                    {{  form_errors(form) }}
                    {{  form_errors(form.profileFile) }}
                    {{  form_errors(form.cvFile) }}

                    {{ form_start(form) }}

                    <div class="file">

                        <div class="label">
                            Upload your profile picture:
                        </div>

                        <div class="choose">
                            {{ form_widget(form.profileFile, { 'attr': { 'class': 'fileInput' } }) }}
                        </div>

                        <div class="clear"></div>

                    </div>


                    <div class="file">
                        <div class="label">
                            Upload your CV file:
                        </div>
                        <div class="choose">
                            {{ form_widget(form.cvFile, { 'attr': { 'class': 'fileInput' } }) }}
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="clear"></div>

                    <div class="actionGroup">

                        <div class="inputClassButton">
                            {{ form_widget(form.finish) }}
                        </div>


                        <div class="clear"></div>


                    </div>

                    {{ form_end(form) }}


                {% endif %}

            </div>

            <div class="clear"></div>

        </div>


    {% endblock %}
