{# src/Acatism/AuthenticationBundle/Resources/views/Security/register.html.twig #}

{% extends '::base.html.twig' %}

{% block stylesheets %}

    <link href="{{ asset('css/maincss.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/info.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block title %}

    AcaTisM User Guide

{% endblock %}

    {% block body %}

        {% block header %}

            <div id="header">

                <div id="logo">
                    <a href="{{ path('acatism_main_homepage') }}">  <img src="{{ asset('logo.png') }}" title="AcaTisM" alt="AcaTisM" /></a>
                </div>

            </div>

            <div class="clear"></div>

        {% endblock %}

        {% block main %}
            <div id="maincontainer">

                <div id="infoSection">

                    <div class="header">

                        <h1>About</h1>

                    </div>

                    <div class="main">

                        <h2>What is AcaTism ?</h2>

                         <a href="{{ asset(path('acatism_main_homepage')) }}">AcaTisM</a> is an academic thesis manager
                         made for the <a href="http://www.infoiasi.ro">Faculty of Computer Science</a> from the " Alexandru Ioan Cuza " University from Iasi.
                         <br/><br/>
                         It was created by two 2nd year students named <span>Lucian Costin Ailenei</span> and <span>Daniel Plecan</span>,
                         as a project for the
                         <a href="http://profs.info.uaic.ro/~busaco/teach/courses/web/">Web Technologies</a> discipline.

                         <br/><br/>
                         The project was developed using <a href="http://www.symfony.com">Symfony PHP Framework</a> together with programming technologies and languages like:

                         <ul>
                             <li><a href="http://www.mongodb.org/">Mongo DB</a></li>
                             <li><a href="http://twig.sensiolabs.org/"">Twig Template Engine</a></li>
                             <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a></li>
                             <li><a href="http://jquery.com/">jQuery</a></li>
                             <li><a href="http://learn.jquery.com/ajax/">AJAX</a></li>
                         </ul>


                         </ul>

                    </div>

                    <div class="clear"></div>


                </div>

            </div>
        {% endblock %}

    {% endblock %}

