{# src/Acatism/MainBundle/Show/MainView.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Acatism{% endblock %}

{% block stylesheets %}

    <link href="{{ asset('css/maincss.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body %}

    <div id="globalcontainer">

    {% block header %}

        <div id="header">

            <div id="logo">
            <a href="{{ path('acatism_main_homepage') }}">  <img src="{{ asset('logo.png') }}" title="AcaTisM" alt="AcaTisM" /></a>
            </div>

            <div id="toplinks">
                <ul>
                    <li><a href="{{ path('acatism_main_homepage') }}">Home</a></li>
                    <li><a href="{{ path('acatism_view_profs')}}">Academic Staff</a></li>
                    <li><a href="{{ path('acatism_view_students')}}">Students</a></li>
                    <li><a href="{{ path('about') }}">About</a></li>
                    <li><a href="{{ path('userguide') }}">User Guide</a></li>
                </ul>
            </div>

            {% block search %}
            {% if ( app.user.role.role == 'ROLE_STUDENT' )  %}

            <div id="search">

                <form name="searchform" action="#" method="#">

                    <input id="searchinput" type="text" placeholder="Cautare" />
                    <!-- <input type="submit" value="Cauta" /> -->

                </form>


            </div>

            {% endif %}
            {% endblock %}

            </div>

        <div class="clear"></div>

    {% endblock %}

    {% block main %}

    <div id="maincontainer">

        {% block utilities %}

        <div class="howdyandtools">

            <div class="profilename"><a href="#">{{ app.user.firstname ~ " " ~ app.user.lastname }}</a></div>


            <div class="profilecaption">
                <a href="#">
                    <img src="#" alt="{{app.user.firstname ~ " " ~ app.user.lastname}}" /></a>
            </div>

            <div class="tool">
                <a href="{{ path('acatism_profile_settings') }}">
                    <img width="28px" height="28px" src="{{ asset('images/settings.png') }}" alt="Settings" />
                </a>
                <a href="{{ path('logout') }}">
                    <img width="28px" height="28px" src="{{ asset('images/logout.png') }}" alt="LogOut" />
                </a>
            </div>

        </div>

     {% endblock %}

        {% block pageContent %}

    {% block profile_section %}

    <div id="profile">

        <div class="profileleft">

            <div class="widget">

                <div class="widgettop">About</div>
                <div class="widgetcontent">

                    <ul>

                        <li name="University"><span>University</span>: Universitatea Alexandru Ioan Cuza din Iasi</li>
                        <li name="Faculty"><span>Faculty</span>: Facultatea de Informatica Iasi</li>

                        <!-- for student: year and group, for teacher -->

                        <li name="Year"><span>Year of study</span>: 2 </li>
                        <li name="Group"><span>Group</span>: B6</li>
                        <li name="Birth"><span>Date of birth</span>: 13.09.1993</li>
                        <li name="Location"><span>Location</span>: Botosani</li>
                        <li name="Adress"><span>Adress</span>: strada Morii, nr.7, bl. 420B</li>
                        <li name="Email"><span>E-mail</span>: catalin.baltuta@info.uaic.ro</li>
                        <li name="Phone"><span>Phone</span>: 0789898989</li>

                        <!-- if has coordinator -->

                        <li name="Coordinator"><span>Coordinator</span>: Miklos</li>

                    </ul>

                </div>

            </div>

        </div>

        <div class="profilecenter">

            <div class="profile_picture">
                <a href=""><img src="{{ asset('images/bt39blt.jpg') }}" alt="" />	</a>
                <div class="profile_picture_details">
                    <span class="title">Student</span>
                    <br/>
                    <span class="name">Catalin Baltuta</span>
                </div>
                <div class="social">

                    <img src="{{ asset("images/Facebook.png") }}" alt="Facebook" title="Facebook"/>
                    <img src="{{ asset("images/GooglePlus.png") }}" alt="Google Plus" title="Google Plus"/>
                    <img src="{{ asset("images/Twitter.png") }}" alt="Twitter" title="Twitter"/>
                    <!-- <img src="{{ asset("images/LinkedIn.png") }}" alt="LinkedIn" title="LinkedIn"/> -->
                    <img src="{{ asset("images/Skype.png") }}" alt="Skype" title="Skype"/>
                    <img src="{{ asset("images/Dropbox.png") }}" alt="Dropbox" title="Dropbox" />
                    <img src="{{ asset("images/GitHub.png") }}" alt="GitHub" title="GitHub" />

                </div>
            </div>

        </div>

        <div class="profileright">

            <div class="widget">

                <div class="widgettop">Curriculum Vitae: </div>
                <div class="widgetcontent">

                    <ul>

                        <li name="Domains"><span>Domains of interest:</span> SGBD, Java </li>
                        <li name="ProgrammingLanguages"><span>Well-known programming languages</span>: PHP, Java, C++, ASM, Perl, Python</li>
                        <li name="ProgramingTechs"><span>Well-known programming technologies</span>: Ajax</li>
                        <li name="Projects"><span>Projects</span>: <a href="http://www.google.ro">Google</a></li>
                        <li name="Languages"><span>Languages</span>: Engleza, Romana</li>
                        <li name="CV" class="fullcv">

                            <div  class="cvimg"><img src="{{ asset("images/cv.png") }}" alt="CV"/></div>
                            <div class="cvlink">
                            <a href="{{ asset("cvs/cv.pdf") }}" title="CV" >View full CV</a>
                            </div>

                        </li>

                    </ul>

                </div>

            </div>

        </div>

        <div class="clear"></div>

    </div>

    {% endblock %}

    {% block activity_section %}

        <div id="activity">

            <div class="activitytop">

                What's New

            </div>

            <div class="activitymain">

            <div class="activitycategory">

                <ul>

                    <li id="activityTab_1">NewsFeed</li>
                    <li id="activityTab_2">Tasks</li>

                </ul>

            </div>

            <div class="activitycontent">

                <div class="activityPage" id="activityPage_1">

                <ul class="news">

                    <li class="article">

                        <div class="articlesubject">

                            <div class="content">

                                Catalin Baltuta si-a actualizat profilul.

                            </div>


                            <div class="posttime">

                                01/06/2014, 17:34

                            </div>

                            <div class="clear"></div>

                        </div>

                        <div class="clear"></div>

                    </li>

                    <li class="article">

                        <div class="articlesubject">

                            <div class="content">

                                Un nou proiect extraordinar ce poarta numele de AcaTisM este in curs de dezvoltare.

                            </div>


                            <div class="posttime">

                                01/06/2014, 17:34

                            </div>

                            <div class="clear"></div>

                        </div>

                        <div class="articlecontent">

                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                        </div>

                    </li>

                </ul>

               </div>

                <div class="activityPage" id="activityPage_2">

                   <ul class="taskList">

                       <li id="task">

                           <a href="#task">

                           <div class="taskHeader">

                               <div class="content">

                                   Un nou proiect extraordinar ce poarta numele de AcaTisM este in curs de dezvoltare.

                               </div>


                               <div class="posttime">

                                   01/06/2014, 17:34

                               </div>


                               <div class="extend">
                                    <img class="arrow" src="{{ asset('images/down.png') }}" alt="Down" />
                                   </div>

                               <div class="clear"></div>

                           </div>

                           </a>

                           <div class="taskContent">

                               Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                               It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                           </div>


                       </li>

                       <li id="task">

                           <a href="#task">

                               <div class="taskHeader">

                                   <div class="content">

                                       Un nou proiect extraordinar ce poarta numele de AcaTisM este in curs de dezvoltare.

                                   </div>


                                   <div class="posttime">

                                       01/06/2014, 17:34

                                   </div>


                                   <div class="extend">
                                       <img class="arrow" src="{{ asset('images/down.png') }}" alt="Down" />
                                   </div>

                                   <div class="clear"></div>

                               </div>

                           </a>

                           <div class="taskContent">

                               Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

                               It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

                           </div>


                       </li>

                   </ul>
               </div>


            </div>

            </div>

            <div class="clear"></div>

        </div>

    {% endblock %}

    {% endblock %}

    </div>

    {% endblock %}

    </div>

{% endblock %}

{% block javascripts %}

<script type="text/javascript" src="{{ asset("scripts/tabs.js") }}" ></script>

<script type="text/javascript" src="{{  asset("scripts/jquery.min.js") }}" ></script>

<script type="text/javascript" src="{{ asset("scripts/taskDropdownProfsView.js") }}" ></script>

{% endblock %}

