{# src/Acatism/MainBundle/Show/MainView.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Acatism{% endblock %}

{% block stylesheets %}

    <link href="{{ asset('css/maincss.css') }}" rel="stylesheet" type="text/css" />
    
{% endblock %}

{% block body %}

    <div id="globalcontainer">
    {% block header %}

        <div id="header">

            <div id="logo">
            <a href="{{ path('acatism_main_homepage') }}">  <img src="{{ asset('logo.png') }}" title="AcaTisM" alt="AcaTisM" /></a>
            </div>

            <div id="toplinks">
                <ul>

                    <li><a href="{{ path('acatism_main_homepage') }}">Home</a></li>
                    <li><a href="{{ path('acatism_profs')}}">Professors</a></li>
                    <li><a href="#">About</a></li>

                </ul>
            </div>

            <div id="search">

                <form name="searchform" action="#" method="#">

                    <input id="searchinput" type="text" placeholder="Cautare" />
                    <!-- <input type="submit" value="Cauta" /> -->

                </form>

            </div>

            </div>

        <div class="clear"></div>

    {% endblock %}

    <div id="maincontainer">

    <div class="howdyandtools">

        <div class="profilename"><a href="#">Catalin</a></div>

        <div class="profilecaption">
        <a href="#">
            <img src="{{ asset('images/bt39blt_small.jpg') }}" alt="Catalin" /></a>
        </div>

        <div class="tool">
        <a href="#">
            <img width="28px" height="28px" src="{{ asset('images/settings.png') }}" alt="Settings" />
        </a>
        <a href="{{ path('logout') }}">
            <img width="28px" height="28px" src="{{ asset('images/logout.png') }}" alt="LogOut" />
        </a>
        </div>

    </div>

    </div>
    {% block profs_list %}
         <div class="profsprofiles">
            <div class="profs_picture">
                <a href="#" ><img src="{{ asset('images/profs/sabin_buraga.jpg') }}" alt="" height="150" width="150"/>   </a>
                <div class="profs_picture_details">
                    <span class="name">Sabin Buraga</span>
                </div>
            </div>
            <div class="profs_picture">
                <a href="#"><img src="{{ asset('images/profs/cristian_frasinaru.jpg') }}" alt="" height="150" width="150"/>   </a>
                <div class="profs_picture_details">
                    <span class="name">Cristian Frăsinaru</span>
                </div>
            </div>
            <div class="profs_picture">
                <a href="#"><img src="{{ asset('images/profs/oana_prisecaru.jpg') }}" alt="" height="150" width="150"/>   </a>
                <div class="profs_picture_details">
                    <span class="name">Oana Captarencu</span>
                </div>
            </div>
            <div class="profs_picture">
                <a href="#"><img src="{{ asset('images/profs/mihaela_breaban.jpg') }}" alt="" height="150" width="150"/>   </a>
                <div class="profs_picture_details">
                    <span class="name">Mihaela Breaban</span>
                </div>
            </div>
            <div class="profs_picture">
                <a href="#"><img src="{{ asset('images/profs/henri_luchian.jpg') }}" alt="" height="150" width="150"/>   </a>
                <div class="profs_picture_details">
                    <span class="name">Henri Luchian</span>
                </div>
            </div>
            <div class="profs_picture">
                <a href=""><img src="{{ asset('images/profs/oana_prisecaru.jpg') }}" alt="" height="150" width="150"/>   </a>
                <div class="profs_picture_details">
                    <span class="name">Oana Captarencu</span>
                </div>
            </div>
            <div class="profs_picture">
                <a href=""><img src="{{ asset('images/profs/oana_prisecaru.jpg') }}" alt="" height="150" width="150"/>   </a>
                <div class="profs_picture_details">
                    <span class="name">Oana Captarencu</span>
                </div>
            </div>
            <div class="profs_picture">
                <a href=""><img src="{{ asset('images/profs/oana_prisecaru.jpg') }}" alt="" height="150" width="150"/>   </a>
                <div class="profs_picture_details">
                    <span class="name">Oana Captarencu</span>
                </div>
            </div>
            <div class="profs_picture">
                <a href=""><img src="{{ asset('images/profs/oana_prisecaru.jpg') }}" alt="" height="150" width="150"/>   </a>
                <div class="profs_picture_details">
                    <span class="name">Oana Captarencu</span>
                </div>
            </div>
            <div class="profs_picture">
                <a href=""><img src="{{ asset('images/profs/oana_prisecaru.jpg') }}" alt="" height="150" width="150"/>   </a>
                <div class="profs_picture_details">
                    <span class="name">Oana Captarencu</span>
                </div>
            </div>
            <div class="profs_picture">
                <a href=""><img src="{{ asset('images/profs/oana_prisecaru.jpg') }}" alt="" height="150" width="150"/>   </a>
                <div class="profs_picture_details">
                    <span class="name">Oana Captarencu</span>
                </div>
            </div>
            <div class="profs_picture">
                <a href=""><img src="{{ asset('images/profs/oana_prisecaru.jpg') }}" alt="" height="150" width="150"/>   </a>
                <div class="profs_picture_details">
                    <span class="name">Oana Captarencu</span>
                </div>
            </div>
            <div class="profs_picture">
                <a href=""><img src="{{ asset('images/profs/oana_prisecaru.jpg') }}" alt="" height="150" width="150"/>   </a>
                <div class="profs_picture_details">
                    <span class="name">Oana Captarencu</span>
                </div>
            </div>
            <div class="profs_picture">
                <a href=""><img src="{{ asset('images/profs/oana_prisecaru.jpg') }}" alt="" height="150" width="150"/>   </a>
                <div class="profs_picture_details">
                    <span class="name">Oana Captarencu</span>
                </div>
            </div>
            <div class="profs_picture">
                <a href=""><img src="{{ asset('images/profs/oana_prisecaru.jpg') }}" alt="" height="150" width="150"/>   </a>
                <div class="profs_picture_details">
                    <span class="name">Oana Captarencu</span>
                </div>
            </div>
            <div class="profs_picture">
                <a href=""><img src="{{ asset('images/profs/oana_prisecaru.jpg') }}" alt="" height="150" width="150"/>   </a>
                <div class="profs_picture_details">
                    <span class="name">Oana Captarencu</span>
                </div>
            </div>
            <div class="profs_picture">
                <a href=""><img src="{{ asset('images/profs/oana_prisecaru.jpg') }}" alt="" height="150" width="150"/>   </a>
                <div class="profs_picture_details">
                    <span class="name">Oana Captarencu</span>
                </div>
            </div>
            <div class="profs_picture">
                <a href=""><img src="{{ asset('images/profs/oana_prisecaru.jpg') }}" alt="" height="150" width="150"/>   </a>
                <div class="profs_picture_details">
                    <span class="name">Oana Captarencu</span>
                </div>
            </div>

        </div>
    {% endblock %}

{% endblock %}