{# src/Acatism/AuthenticationBundle/Resources/views/Security/register.html.twig #}

{% extends 'AcatismMainBundle:Show:MainView.html.twig' %}

{% block stylesheets %}

    <link href="{{ asset('css/maincss.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/usersettings.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block title %}

    Profile Settings

{% endblock %}

{% form_theme social_form _self %}
{% form_theme git_form _self %}

{% block url_widget %}
    <div class="inputClass">
        {% set type = type|default('url') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block text_widget %}
    <div class="inputClass">
        {% set type = type|default('text') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block password_widget %}
    <div class="inputClass">
        {% set type = type|default('password') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <div class="errorSection">
                    <div class="icon">
                        <img src="{{ asset('images/form_error.png') }}" alt="Error" />
                    </div>
                    <div class="message">
                        {{ error.message }}
                    </div>

                    <div class="clear"></div>

                </div>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}


    {% block utilities %}

        <div class="howdyandtools">

            {% if app.user.role.role == 'ROLE_STUDENT' %}

                <div class="profilename"><a href="{{ path('acatism_view_student',{'username' : app.user.username}) }}">{{ app.user.firstname ~ " " ~ app.user.lastname }}</a></div>

                <div class="profilecaption">
                    <a href="{{ path('acatism_view_student',{'username' : app.user.username}) }}">
                        <img src="{{ visitor.getProfilePath() | apply_filter('small_thumb') }}" alt="{{app.user.firstname ~ " " ~ app.user.lastname}}" />
                    </a>
                </div>

            {% endif %}

            {% if app.user.role.role == 'ROLE_PROFESSOR' %}

                <div class="profilename"><a href="{{ path('acatism_view_prof',{'username' : app.user.username}) }}">{{ app.user.firstname ~ " " ~ app.user.lastname }}</a></div>

                <div class="profilecaption">
                    <a href="{{ path('acatism_view_prof',{'username' : app.user.username}) }}">
                        <img src="{{ visitor.getProfilePath() | apply_filter('small_thumb') }}" alt="{{app.user.firstname ~ " " ~ app.user.lastname}}" />
                    </a>
                </div>

            {% endif %}

            <div class="tool">
                <a href="{{ path('acatism_profile_settings') }}">
                    <img width="28px" height="28px" src="{{ asset('images/settings.png') }}" alt="Settings" />
                </a>
                <a href="{{ path('logout') }}">
                    <img width="28px" height="28px" src="{{ asset('images/logout.png') }}" alt="LogOut" />
                </a>
            </div>

        </div>

    {% endblock %}

    {% block pageContent %}

        <div id="settingsListSection">

            <div class="header">

                <h1>Settings</h1>

            </div>

            <div class="main">

                 <!-- social links -->

                 <div class="settingsSection">

                        <div class="sectionHeader">

                            <h2>Set social links</h2>

                        </div>


                        <div class="sectionContent">

                            {{  form_start(social_form) }}

                            {{  form_errors(social_form) }}
                            {{  form_errors(social_form.facebook) }}
                            {{  form_errors(social_form.googleplus) }}
                            {{  form_errors(social_form.twitter) }}
                            {{  form_errors(social_form.skype) }}
                            {{  form_errors(social_form.dropbox) }}
                            {{  form_errors(social_form.github) }}

                            {{ form_start(social_form) }}

                            {{ form_widget(social_form.facebook, { 'attr': { 'class': 'normalInput', 'placeholder': 'Facebook' } }) }}

                            {{ form_widget(social_form.googleplus, { 'attr': { 'class': 'normalInput', 'placeholder': 'Google Plus' } }) }}

                            {{ form_widget(social_form.twitter, { 'attr': { 'class': 'normalInput', 'placeholder': 'Twitter' } }) }}

                            {{ form_widget(social_form.skype, { 'attr': { 'class': 'normalInput', 'placeholder': 'Skype' } }) }}

                            {{ form_widget(social_form.dropbox, { 'attr': { 'class': 'normalInput', 'placeholder': 'Dropbox' } }) }}

                            {{ form_widget(social_form.github, { 'attr': { 'class': 'normalInput', 'placeholder': 'Github' } }) }}

                            <div class="clear"></div>

                            <div class="actionGroup">

                                <div class="inputClassButton">
                                    {{ form_widget(social_form.update) }}
                                </div>

                                <div class="clear"></div>


                            </div>

                            {{ form_end(social_form) }}

                        </div>


                </div>


                 <!-- github account -->

                {% if (app.user.role.role != 'ROLE_PROFESSOR') %}

                <div class="settingsSection">

                    <div class="sectionHeader">

                        <h2>Add github account</h2>

                    </div>

                    <div class="sectionContent">

                        {{  form_start(git_form) }}

                        {{  form_errors(git_form) }}
                        {{  form_errors(git_form.githubUsername) }}
                        {{  form_errors(git_form.githubPassword) }}

                        {{ form_start(git_form) }}

                        {{ form_widget(git_form.githubUsername, { 'attr': { 'class': 'normalInput', 'placeholder': 'Github username' } }) }}

                        {{ form_widget(git_form.githubPassword, { 'attr': { 'class': 'normalInput', 'placeholder': 'Github password' } }) }}

                        <div class="clear"></div>

                        <div class="actionGroup">

                            <div class="inputClassButton">
                                {{ form_widget(git_form.update) }}
                            </div>

                            <div class="clear"></div>


                        </div>

                        {{ form_end(git_form) }}

                    </div>


                </div>

                {% endif %}


                 <!-- password resetion -->
                 <div class="settingsSection">

                    <div class="sectionHeader">

                            <h2>Password Reset</h2>

                    </div>


                    <div class="sectionContent">

                            Content for password resetion

                    </div>


                </div>

            </div>

            <div class="clear"></div>


        </div>

    {% endblock %}

