{# src/Acatism/AuthenticationBundle/Resources/views/Security/register.html.twig #}

{% extends 'AcatismMainBundle:Show:MainView.html.twig' %}

{% block stylesheets %}

    <link href="{{ asset('css/maincss.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/usersettings.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block title %}

    Profile Settings

{% endblock %}

    {% block utilities %}

        <div class="howdyandtools">

            {% if app.user.role.role == 'ROLE_STUDENT' %}

                <div class="profilename"><a href="{{ path('acatism_view_student',{'username' : app.user.username}) }}">{{ app.user.firstname ~ " " ~ app.user.lastname }}</a></div>

                <div class="profilecaption">
                    <a href="{{ path('acatism_view_student',{'username' : app.user.username}) }}">
                        <img src="{{ visitor.getProfilePath() | apply_filter('small_thumb') }}" alt="{{app.user.firstname ~ " " ~ app.user.lastname}}" />
                    </a>
                </div>

            {% endif %}

            {% if app.user.role.role == 'ROLE_PROFESSOR' %}

                <div class="profilename"><a href="{{ path('acatism_view_prof',{'username' : app.user.username}) }}">{{ app.user.firstname ~ " " ~ app.user.lastname }}</a></div>

                <div class="profilecaption">
                    <a href="{{ path('acatism_view_prof',{'username' : app.user.username}) }}">
                        <img src="{{ visitor.getProfilePath() | apply_filter('small_thumb') }}" alt="{{app.user.firstname ~ " " ~ app.user.lastname}}" />
                    </a>
                </div>

            {% endif %}

            <div class="tool">
                <a href="{{ path('acatism_profile_settings') }}">
                    <img width="28px" height="28px" src="{{ asset('images/settings.png') }}" alt="Settings" />
                </a>
                <a href="{{ path('logout') }}">
                    <img width="28px" height="28px" src="{{ asset('images/logout.png') }}" alt="LogOut" />
                </a>
            </div>

        </div>

    {% endblock %}

    {% block pageContent %}

        <div id="settingsListSection">

            <div class="header">

                Settings

            </div>

            <div class="settingsListMain">

                <div class="settingsSection">

                    <div class="sectionTitle">



                    </div>


                    <div class="sectionContent">



                    </div>


                </div>

                <div class="settingsSection">

                    <div class="sectionTitle">



                    </div>


                    <div class="sectionContent">



                    </div>


                </div>

            </div>

            <div class="clear"></div>


        </div>

    {% endblock %}
