{# src/Acatism/MainBundle/Show/StudView.html.twig #}

{% extends 'AcatismMainBundle:Show:MainView.html.twig' %}


{% block notifications %}

    {% if ( hasGithubAccount == false ) %}

        <div class="notificationMessage">

            <div class="icon">
                <img src="{{ asset('images/notification.png') }}" alt="Notification" />
            </div>

            <div class="message">

                You haven't synced your GitHub account yet. You won't be able to confirm a collaboration, please go to Settings.

            </div>

            <div class="clear"></div>

        </div>

    {% endif %}

{% endblock %}

{% block utilities %}

    <div class="howdyandtools">

        <div class="profilename"><a href="{{ path('acatism_view_student',{'username' : app.user.username}) }}">{{ app.user.firstname ~ " " ~ app.user.lastname }}</a></div>

        <div class="profilecaption">
            <a href="{{ path('acatism_view_student',{'username' : app.user.username}) }}">
                <img src="{{ student.getProfilePath() | apply_filter('small_thumb') }}" alt="{{app.user.firstname ~ " " ~ app.user.lastname}}" /></a>
        </div>

        <div class="tool">
            <a href="{{ path('acatism_profile_settings') }}">
                <img width="28px" height="28px" src="{{ asset('images/settings.png') }}" alt="Settings" />
            </a>
            <a href="{{ path('logout') }}">
                <img width="28px" height="28px" src="{{ asset('images/logout.png') }}" alt="LogOut" />
            </a>
        </div>

    </div>

{% endblock %}

{% block profile_section %}

    <div id="profile">

        <div class="profileleft">

            <div class="widget">

                <div class="widgettop">About</div>
                <div class="widgetcontent">

                    <ul>

                        <li name="University"><span>University</span>: {{student.university}}</li>
                        <li name="Faculty"><span>Faculty</span>: {{student.faculty}}</li>

                        <!-- for student: year and group, for teacher -->

                        <li name="Year"><span>Year of study</span>: {{student.getYearOfStudy()}} </li>
                        <li name="Group"><span>Group</span>: {{student.group}}</li>


                        <li name="Email"><span>E-mail</span>: {{app.user.email}}</li>
                        <li name="Phone"><span>Phone</span>: {{student.phone}}</li>

                        <li name="Website"><span>Website</span>: <a href="#">{{student.website}}</a></li>


                    </ul>

                </div>

            </div>

        </div>

        <div class="profilecenter">

            <div class="profile_picture">
                <a href=""><img src="{{ student.getProfilePath() | apply_filter('profile_thumb') }}" alt="" />	</a>
                <div class="profile_picture_details">
                    <span class="title">Student</span>
                    <br/>
                    <span class="name">{{app.user.firstname ~ " " ~ app.user.lastname}}</span>
                </div>

                {% if sociallinks is not null %}

                <div class="social">

                    {% if sociallinks.facebook is not null %}
                        <a href="{{ sociallinks.facebook }}">
                            <img src="{{ asset("images/Facebook.png") }}" alt="Facebook" title="Facebook"/>
                        </a>
                    {% endif %}

                    {% if sociallinks.googleplus is not null %}
                        <a href="{{ sociallinks.googleplus }}">
                            <img src="{{ asset("images/GooglePlus.png") }}" alt="Google Plus" title="Google Plus"/>
                        </a>
                    {% endif %}

                    {% if sociallinks.twitter is not null %}
                        <a href="{{ sociallinks.twitter }}">
                            <img src="{{ asset("images/Twitter.png") }}" alt="Twitter" title="Twitter"/>
                        </a>
                    {% endif %}

                    {% if sociallinks.skype is not null %}
                        <a href="{{ sociallinks.skype }}">
                            <img src="{{ asset("images/Skype.png") }}" alt="Skype" title="Skype"/>
                        </a>
                    {% endif %}

                    {% if sociallinks.dropbox is not null %}
                        <a href="{{ sociallinks.dropbox  }}">
                            <img src="{{ asset("images/Dropbox.png") }}" alt="Dropbox" title="Dropbox" />
                        </a>
                    {% endif %}

                    {% if sociallinks.github is not null %}
                        <a href="{{ sociallinks.github }}">
                            <img src="{{ asset("images/GitHub.png") }}" alt="GitHub" title="GitHub" />
                        </a>
                    {% endif %}

                </div>

                {% endif %}

            </div>

        </div>

        <div class="profileright">

            <div class="widget">

                <div class="widgettop">Curriculum Vitae: </div>
                <div class="widgetcontent">

                    <ul>

                        <li name="Domains"><span>Domains of interest:</span> {{student.domains}} </li>
                        <li name="ProgrammingLanguages"><span>Well-known programming languages</span>: {{student.getProgLanguages()}}</li>
                        <li name="ProgramingTechs"><span>Well-known programming technologies</span>: {{student.getProgTechnologies()}}</li>
                        <li name="Projects"><span>Projects</span>: {{student.projects}}</li>
                        <li name="Languages"><span>Languages</span>: {{student.languages}}</li>
                        <li name="CV" class="fullcv">

                            <div  class="cvimg"><img src="{{ asset("images/cv.png") }}" alt="CV"/></div>
                            <div class="cvlink">
                                <a href="{{ asset(student.getCvPath()) }}" title="CV" >View full CV</a>
                            </div>

                        </li>

                    </ul>

                </div>

            </div>

        </div>

        <div class="clear"></div>

    </div>

{% endblock %}

{% block activity_section %}

     <div id="activity">

         <div class="activitytop">

             What's New

         </div>

         <div class="activitymain">

             <div class="activitycategory">

                 <ul>

                     <li id="activityTab_1">NewsFeed</li>

                     {% if (student.isAccepted == true) %}
                     <li id="activityTab_2">Tasks</li>
                     {% endif %}

                     <li id="activityTab_3">Applications</li>

                 </ul>

             </div>

             <div class="activitycontent">

                 <!-- news tab -->
                 <div class="activityPage" id="activityPage_1">

                     <ul class="news" id="newsList">
                        
                     <!-- newsfeed content set with jQuery -->

                     </ul>
                     

                 </div>

                 <!-- tasks tab -->
                 {% if (student.isAccepted == true) %}
                 <div class="activityPage" id="activityPage_2">

                     <ul class="taskList">

                         {% for taskProgress in taskProgressList %}

                             {% set printform = true %}

                             <li id="task">

                                 <a>

                                     <div class="taskHeader">

                                         <div class="content">

                                             {{ taskProgress.task.title }}

                                         </div>

                                         <div class="posttime">

                                             Deadline: {{ taskProgress.task.dueDate|date('Y-m-d') }}

                                         </div>


                                         <div class="extend">
                                             <img class="arrow" src="{{ asset('images/down.png') }}" alt="Down" />
                                         </div>

                                         <div class="clear"></div>

                                     </div>

                                 </a>

                                 <div class="taskContent">


                                     <div class="description">
                                         {{ taskProgress.task.description }}
                                     </div>

                                     <div class="specifications">

                                         {% if ( taskProgress.task.requireFile == true ) %}

                                             {% if (taskProgress.filePath is not null) %}

                                                {% if (taskProgress.task.requireFileFormat == true) %}
                                                 * Requires file with specified format : <a href="{{ taskProgress.filePath }}">{{ taskProgress.filePath }}</a>

                                                 {%  else %} * Requires file with no specified format: <a href="{{ taskProgress.filePath }}">{{ taskProgress.filePath }}</a>

                                                {% endif %}

                                              {% else %}

                                                  {% if (taskProgress.task.requireFileFormat == true) %}
                                                      * Requires file with specified format

                                                  {%  else %} * Requires file with no specified format

                                                  {% endif %}

                                            {% endif %}



                                         {% endif %}

                                         <br/>

                                         {% if (taskProgress.task.requireSourceCode == true) %}
                                             * Requires source code : <a href="{{ taskProgress.repository['html_url'] }}">{{ taskProgress.repository['html_url'] }}</a>
                                         {% endif %}

                                         {% if (taskProgress.task.requireFile == true) and (taskProgress.isFinished == false) and (printform == true) %}

                                                {{ form_errors(upload_form) }}
                                                {{ form_errors(upload_form.file) }}


                                                {{ form_start(upload_form) }}

                                                {{ form_widget(upload_form.file) }}

                                                {{ form_widget(upload_form.upload) }}

                                                {{ form_end(upload_form) }}

                                                {% set printform = false %}

                                         {% endif %}

                                     </div>

                                     <div class="clear"></div>


                                 </div>


                             </li>

                         {% endfor %}

                     </ul>
                 </div>
                 {% endif %}

                 <!-- applications tab -->
                 <div class="activityPage" id="activityPage_3">

                     <ul class="applicationList">

                     {% for application in applicationlist %}

                         <li id="application">

                              <div class="applicationInfo">

                                  <div class="projectName">

                                        {{ application.project.name }}

                                  </div>

                                  <div class="projectOwner">

                                      <a href="{{ path('acatism_view_prof', { 'username': application.professor.username }) }}">
                                      {{ application.professor.firstname }}&nbsp;{{ application.professor.lastname }}
                                      </a>

                                  </div>

                                  <div class="applicationStatus">

                                         {% if (application.status == 'UNPROCESSED') %}

                                            Pending...

                                             {% set showButton = "false" %}

                                         {% elseif (application.status == 'WAITING_CONFIRMATION') %}

                                            Accepted ( Confirm ? )

                                            {% set showButton = "true" %}

                                         {% elseif (application.status == 'ACCEPTED') %}

                                            Accepted ( Confirmed )

                                            {% set showButton = "false" %}

                                         {% elseif (application.status == 'DECLINED') %}

                                            Not accepted

                                            {% set showButton = "false" %}

                                         {% endif %}


                                  </div>

                                  <div class="actions">

                                      {% if showButton == "true" %}

                                      <a href="{{ path('acatism_confirm_application', { 'applicationId': application.id } ) }}">
                                      <button>Confirm</button>
                                      </a>

                                      {% endif %}


                                  </div>

                                  <div class="clear"></div>


                              </div>

                         </li>

                     {% endfor %}

                     </ul>

                 </div>

             </div>

         </div>

         <div class="clear"></div>

     </div>

 {% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="{{ asset("scripts/tabs.js") }}" ></script>

    <script type="text/javascript" src="{{  asset("scripts/jquery-1.11.1.min.js") }}" ></script>

    <script type="text/javascript" src="{{  asset("scripts/moment-with-langs.js") }}" ></script>

    <script type="text/javascript" src="{{ asset("scripts/taskDropdownStudsView.js") }}" ></script>

    <script type="text/javascript" src="{{ asset("scripts/projectDropdown.js") }}" ></script>

    <script type="text/javascript">
         $("document").ready(function() {
           var link = "http://localhost/AcaTisM/web/app_dev.php/newsfeed";
            $.ajax({
                url: link,
                type: "GET",
                dataType: "xml",
                success: successFn,
                error: errorFn
            });
        });

        function successFn(result) {
            $(result).find('entry').each(function() {
                var subject = $(this).find('title').text();
                var content = $(this).find('summary').text();
                var date = $(this).find('updated').text();
                $("#newsList").append(
                    "<li class = 'article'>"+
                        "<div class='articlesubject'>"+
                            "<div class='content'>"+
                                subject+
                            "</div>"+
                            "<div class='posttime'>"+
                                moment(date).format('LLLL')+
                            "</div>"+
                            "<div class='clear'></div>"+
                        "</div>"+
                        "<div class='articlecontent'>"+
                            content+
                        "</div>"+
                        "<div class='clear'></div>"+
                    "</li>");
            });
        }

        function errorFn(xhr, status, strErr) {
            console.log("Error.");

        }
            
    </script>

{% endblock %}
