{# src/Acatism/MainBundle/Show/ViewStudProfile.html.twig #}

{% extends 'AcatismMainBundle:Show:MainView.html.twig' %}

 {% block utilities %}

     <div class="howdyandtools">

         {% if app.user.role.role == 'ROLE_STUDENT' %}

             <div class="profilename"><a href="{{ path('acatism_view_student',{'username' : app.user.username}) }}">{{ app.user.firstname ~ " " ~ app.user.lastname }}</a></div>

             <div class="profilecaption">
                 <a href="{{ path('acatism_view_student',{'username' : app.user.username}) }}">
                     <img src="{{ visitor.getProfilePath() | apply_filter('small_thumb') }}" alt="{{app.user.firstname ~ " " ~ app.user.lastname}}" />
                 </a>
             </div>

         {% endif %}

         {% if app.user.role.role == 'ROLE_PROFESSOR' %}

             <div class="profilename"><a href="{{ path('acatism_view_prof',{'username' : app.user.username}) }}">{{ app.user.firstname ~ " " ~ app.user.lastname }}</a></div>

             <div class="profilecaption">
                 <a href="{{ path('acatism_view_prof',{'username' : app.user.username}) }}">
                     <img src="{{ visitor.getProfilePath() | apply_filter('small_thumb') }}" alt="{{app.user.firstname ~ " " ~ app.user.lastname}}" />
                 </a>
             </div>

         {% endif %}

         <div class="tool">
             <a href="{{ path('acatism_profile_settings') }}">
                 <img width="28px" height="28px" src="{{ asset('images/settings.png') }}" alt="Settings" />
             </a>
             <a href="{{ path('logout') }}">
                 <img width="28px" height="28px" src="{{ asset('images/logout.png') }}" alt="LogOut" />
             </a>
         </div>

     </div>

 {% endblock %}

 {% block profile_section %}

    <div id="profile">

        <div class="profileleft">

            <div class="widget">

                <div class="widgettop">About</div>
                <div class="widgetcontent">

                    <ul>

                        <li name="University"><span>University</span>: {{student.university}}</li>
                        <li name="Faculty"><span>Faculty</span>: {{student.faculty}}</li>



                        <!-- for student: year and group, for teacher -->

                        <li name="Year"><span>Year of study</span>: {{student.getYearOfStudy()}} </li>
                        <li name="Group"><span>Group</span>: {{student.group}}</li>


                        <li name="Email"><span>E-mail</span>: {{user.email}}</li>
                        <li name="Phone"><span>Phone</span>: {{student.phone}}</li>

                        <li name="Website"><span>Website</span>: <a href="#">{{student.website}}</a></span></li>


                    </ul>

                </div>

            </div>

        </div>

        <div class="profilecenter">

            <div class="profile_picture">
                <a href=""><img src="{{ student.getProfilePath() | apply_filter('profile_thumb') }}" alt="" />	</a>
                <div class="profile_picture_details">
                    <span class="title">Student</span>
                    <br/>
                    <span class="name">{{user.firstname ~ " " ~ user.lastname}}</span>
                </div>

                {% if sociallinks is not null %}

                    <div class="social">

                        {% if sociallinks.facebook is not null %}
                            <a href="{{ sociallinks.facebook }}">
                                <img src="{{ asset("images/Facebook.png") }}" alt="Facebook" title="Facebook"/>
                            </a>
                        {% endif %}

                        {% if sociallinks.googleplus is not null %}
                            <a href="{{ sociallinks.googleplus }}">
                                <img src="{{ asset("images/GooglePlus.png") }}" alt="Google Plus" title="Google Plus"/>
                            </a>
                        {% endif %}

                        {% if sociallinks.twitter is not null %}
                            <a href="{{ sociallinks.twitter }}">
                                <img src="{{ asset("images/Twitter.png") }}" alt="Twitter" title="Twitter"/>
                            </a>
                        {% endif %}

                        {% if sociallinks.skype is not null %}
                            <a href="{{ sociallinks.skype }}">
                                <img src="{{ asset("images/Skype.png") }}" alt="Skype" title="Skype"/>
                            </a>
                        {% endif %}

                        {% if sociallinks.dropbox %}
                            <a href="{{ sociallinks.dropbox }}">
                                <img src="{{ asset("images/Dropbox.png") }}" alt="Dropbox" title="Dropbox" />
                            </a>
                        {% endif %}

                        {% if sociallinks.github %}
                            <a href="{{ sociallinks.github }}">
                                <img src="{{ asset("images/GitHub.png") }}" alt="GitHub" title="GitHub" />
                            </a>
                        {% endif %}

                    </div>

                {% endif %}

            </div>

        </div>

        <div class="profileright">

            <div class="widget">

                <div class="widgettop">Curriculum Vitae: </div>
                <div class="widgetcontent">

                    <ul>

                        <li name="Domains"><span>Domains of interest:</span> {{student.domains}} </li>
                        <li name="ProgrammingLanguages"><span>Well-known programming languages</span>: {{student.getProgLanguages()}}</li>
                        <li name="ProgramingTechs"><span>Well-known programming technologies</span>: {{student.getProgTechnologies()}}</li>
                        <li name="Projects"><span>Projects</span>: {{student.projects}}</li>
                        <li name="Languages"><span>Languages</span>: {{student.languages}}</li>
                        <li name="CV" class="fullcv">

                            <div  class="cvimg"><img src="{{ asset("images/cv.png") }}" alt="CV"/></div>
                            <div class="cvlink">
                                <a href="{{ asset(student.getCvPath()) }}" title="CV" >View full CV</a>
                            </div>

                        </li>

                    </ul>

                </div>

            </div>

        </div>

        <div class="clear"></div>

    </div>

{% endblock %}

 {% block activity_section %}

     {% if ( existsCollaboration == true ) %}

     <div id="activity">

         <div class="activitytop">

             What's new

         </div>

         <div class="activitymain">

             <div class="activitycategory">

                 <ul>

                     <li id="activityTab_1">Tasks</li>

                 </ul>

             </div>

             <div class="activitycontent">

                 <div class="activityPage" id="activityPage_1">

                     <ul class="taskList">

                         {% for task in taskList %}

                             <li id="task">

                                 <a href="#task">

                                     <div class="taskHeader">

                                         <div class="content">

                                             {{ task.title }}

                                         </div>

                                         <div class="posttime">

                                             Deadline: {{ task.dueDate|date('Y-m-d') }}

                                         </div>


                                         <div class="extend">
                                             <img class="arrow" src="{{ asset('images/down.png') }}" alt="Down" />
                                         </div>

                                         <div class="clear"></div>

                                     </div>

                                 </a>

                                 <div class="taskContent">


                                     <div class="description">
                                         {{ task.description }}
                                     </div>

                                     <div class="specifications">

                                         {% if ( task.requireFile == true ) %}

                                             {% if (task.requireFileFormat == true) %}
                                                 * Requires file with specified format

                                             {% endif %}

                                         {%  else %} * Requires file with no specified format

                                         {% endif %}

                                         <br/>

                                         {% if (task.requireSourceCode == true) %}
                                             * Requires source code
                                         {% endif %}

                                     </div>

                                     <div class="clear"></div>


                                 </div>


                             </li>

                         {% endfor %}

                     </ul>
                 </div>

             </div>

         </div>

         <div class="clear"></div>

     </div>


     {% endif %}


 {% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="{{ asset("scripts/tabs.js") }}" ></script>

    <script type="text/javascript" src="{{  asset("scripts/jquery.min.js") }}" ></script>

    <script type="text/javascript" src="{{ asset("scripts/taskDropdown_Visitor.js") }}" ></script>

{% endblock %}



