{# src/Acatism/AuthenticationBundle/Resources/views/Security/register.html.twig #}

{% extends 'AcatismMainBundle:Show:MainView.html.twig' %}

{% block title %}

    Register to AcaTisM

{% endblock %}

{% block stylesheets %}

    <link href="{{ asset('css/maincss.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/forms.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% form_theme form _self %}

{% block text_widget %}
    <div class="inputClass">
        {% set type = type|default('text') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block email_widget %}
    <div class="inputClass">
        {% set type = type|default('email') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block password_widget %}
    <div class="inputClass">
        {% set type = type|default('password') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}



    {% block header %}

        <div id="header">

            <div id="logo">
                <a href="{{ path('acatism_main_homepage') }}">  <img src="{{ asset('logo.png') }}" title="AcaTisM" alt="AcaTisM" /></a>
            </div>

        </div>

        <div class="clear"></div>

    {% endblock %}

    {% block main %}

        <div id="maincontainer">

            <div id="registerSection">

                <div class="registerHeader">

                    <h1>Register to AcaTisM</h1>

                </div>

                <div class="registerMain">

                    {{ form_start(form) }}

                    {{ form_widget(form.firstname, { 'attr': { 'class': 'normalInput', 'placeholder': 'Firstname' } }) }}

                    {{ form_widget(form.lastname, { 'attr': { 'class': 'normalInput', 'placeholder': 'Lastname' } }) }}

                    {{ form_widget(form.email, { 'attr': { 'class': 'normalInput', 'placeholder': 'e-mail' } }) }}

                    {{ form_widget(form.username, { 'attr': { 'class': 'normalInput', 'placeholder': 'username' } }) }}

                    {{ form_widget(form.password, { 'attr': { 'class': 'normalInput', 'placeholder': 'password' } }) }}

                    <div class="chooseRole">
                        <div class="label">
                            Account Type:
                        </div>
                        {{ form_widget(form.role, { 'attr': { 'class': 'optionInput' } }) }}
                        <div class="clear"></div>
                    </div>

                    <div class="clear"></div>

                    <div class="actionGroup">

                        <div class="inputClassButton">
                            {{ form_widget(form.register) }}
                        </div>

                        <div class="actions">

                            <input type="checkbox" id="remember" />
                            <label for="remember">Remember Me</label>

                        </div>

                        {{ form_end(form) }}

                        <div class="clear"></div>


                    </div>

                </div>

                <div class="clear"></div>

                <div class="registerFooter">

                    Already have an account ? <a href="{{ path('login') }}">Sign in >></a>

                </div>

            </div>

        </div>


    {% endblock %}
