{# src/Acatism/AuthenticationBundle/Resources/views/Security/register.html.twig #}

{% extends 'AcatismMainBundle:Show:MainView.html.twig' %}

{% block title %}

    Register to AcaTisM

{% endblock %}

{% block stylesheets %}

    <link href="{{ asset('css/maincss.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/forms.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% form_theme form _self %}

{% block text_widget %}
    <div class="inputClass">
        {% set type = type|default('text') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block email_widget %}
    <div class="inputClass">
        {% set type = type|default('email') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block password_widget %}
    <div class="inputClass">
        {% set type = type|default('password') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}


{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
                {% for error in errors %}
                    <div class="errorSection">
                        <div class="icon">
                            <img src="{{ asset('images/form_error.png') }}" alt="Error" />
                        </div>
                        <div class="message">
                            {{ error.message }}
                        </div>

                        <div class="clear"></div>

                    </div>
                {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}


    {% block header %}

        <div id="header">

            <div id="logo">
                <a href="{{ path('acatism_main_homepage') }}">  <img src="{{ asset('logo.png') }}" title="AcaTisM" alt="AcaTisM" /></a>
            </div>

            <div id="toplinks">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">User Guide</a></li>
                </ul>
            </div>

        </div>

        <div class="clear"></div>

    {% endblock %}

    {% block main %}

        <div id="maincontainer">

            <div id="formSection">

                <div class="formSectionHeader">

                    <h1>Register to AcaTisM</h1>

                </div>

                <div class="formSectionMain">

                    {{ form_errors(form) }}
                    {{ form_errors(form.firstname) }}
                    {{  form_errors(form.lastname) }}
                    {{  form_errors(form.email) }}
                    {{  form_errors(form.username) }}
                    {{  form_errors(form.password) }}
                    {{  form_errors(form.role) }}


                    {{ form_start(form) }}

                    {{ form_widget(form.firstname, { 'attr': { 'class': 'normalInput', 'placeholder': 'Firstname' } }) }}

                    {{ form_widget(form.lastname, { 'attr': { 'class': 'normalInput', 'placeholder': 'Lastname' } }) }}

                    {{ form_widget(form.email, { 'attr': { 'class': 'normalInput', 'placeholder': 'e-mail' } }) }}

                    {{ form_widget(form.username, { 'attr': { 'class': 'normalInput', 'placeholder': 'username' } }) }}

                    {{ form_widget(form.password, { 'attr': { 'class': 'normalInput', 'placeholder': 'password',
                    'pattern': '.{5,}', 'title': 'The password must have at least 5 characters' } }) }}

                    <div class="chooseRole">
                        <div class="label">
                            Account Type:
                        </div>
                        {{ form_widget(form.role, { 'attr': { 'class': 'optionInput' } }) }}
                        <div class="clear"></div>
                    </div>

                    <div class="clear"></div>

                    <div class="actionGroup">

                        <div class="inputClassButton">
                            {{ form_widget(form.register) }}
                        </div>

                        <div class="actions">

                            <input type="checkbox" id="remember" />
                            <label for="remember">Remember Me</label>

                        </div>

                        {{ form_end(form) }}

                        <div class="clear"></div>


                    </div>

                </div>

                <div class="clear"></div>

                <div class="formSectionFooter">

                    Already have an account ? <a href="{{ path('login') }}">Sign in >></a>

                </div>

            </div>

        </div>


    {% endblock %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset("scripts/tabs.js") }}" ></script>

    <script type="text/javascript" src="{{  asset("scripts/jquery-1.11.1.min.js") }}" ></script>

    <script type="text/javascript" src="{{ asset("scripts/taskDropdownProfsView.js") }}" ></script>

    <script type="text/javascript">
        $("document").ready(function() {
            $('#user_email').focusout(function() {
                var username = $(this).val().split("@")[0];
                $('#user_username').val(username);
            });
            
        });
    </script>

{% endblock %}
